body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f44336;
}

h1, h2, h3 {
    text-align: center;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px;
    padding: 8px;
}

th {
    text-align: left;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #e53935;
}